<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="openModal(NewRecipe)">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-recipe-item *ngFor="let recipeEl of recipes" [recipe]="recipeEl"></app-recipe-item>
  </div>
</div>

<ng-template #NewRecipe>
  <div class="modal-header">
    <h4 class="modal-title pull-left">New Recipe</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div>
        <label for="name">Recipe's Name</label>
        <input type="text" id="name" class="form-control" #recipeInput>
      </div>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Ingredients</label>
          <input type="text" id="name" class="form-control" #nameInput>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="number" id="amount" class="form-control" #amountInput>
        </div>
      </div>
      <div class="col">
        <label for="name">Description</label>
        <input type="text" id="name" class="form-control" #nameInput>
      </div>
      <div class="col">
        <label for="name">Image</label>
        <input type="text" id="name" class="form-control" #nameInput>
      </div>
    </form>
    <button class="btn btn-primary" type="submit" (click)="modalRef.hide()">Submit</button>
  </div>
</ng-template>